---
layout: default
---

<div class="blog">
	<ol class="blog__posts">
		{% for post in paginator.posts %}
		<li>
			<article class="post">
				<header class="post__header">
					<h2 class="post__title"><a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
					<time class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</time>
				</header>
				
				{{ post.content }}
			</article>
			<!--
			<article>
				<time class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</time>
				<h2>
					<a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				
				{{ post.content }}
			</article>
			-->
		</li>
		{% endfor %}
	</ol>
</div>
{% if paginator.total_pages > 1 %}
<footer class="paging">
	<div class="paging__inner">
		{% if paginator.previous_page %}
			<a rel="prev" title="Go to the previous page. You can also press the left arrow on your keyboard." class="paging__prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="paging__arrow" viewBox="0 0 768 768"><path d="M674.644 297.79h-387.951v-193.976l-279.928 280.186 279.928 280.186v-193.976h389.977c46.553 0 84.185-38.536 84.185-86.21s-39.656-86.21-86.21-86.21z"></path></svg>
			</a>
		{% endif %}
		
		{% if paginator.next_page %}
			<a rel="next" title="Go to the next page. You can also press the left arrow on your keyboard." class="paging__next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="paging__arrow" viewBox="0 0 768 768"><path d="M93.356 470.21h387.951v193.976l279.928-280.186-279.929-280.186v193.976h-389.977c-46.553 0-84.184 38.536-84.184 86.21s39.656 86.21 86.21 86.21z"></path></svg> 
			</a>
		{% endif %}
	</div>
	
	<div class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></div>
</footer>
{% endif %}
