<header class="site-head">
    <h1 class="is-visuallyhidden">James Clarke's photos</h1>
  <nav class="site-head__inner">
    <ul class="menu">
      <li class="menu__item menu__item--major{% if page.flag == 'home' %} is-active{% endif %}">
          <a
            class="menu__link"
            href="/"
            {% if page.flag == "home" %}aria-current="page"{% endif %} 
            aria-label="Home page" 
          >
            <span>James Clarke's photos</span>
          </a>
      </li>
      {% assign navigation = site.pages | sort:"navigation_order" %}
      {% assign group = 'navigation' %} {% include navigation.html %}
    </ul>
  </nav>
</header>
