<li class="menu__item{% if page.url contains 'blog/' %} is-active{% endif %}">
  <a class="menu__link" href="/blog/" aria-label="Page 1 of the blog">
    <span>Blog</span>
  </a>
</li>
<li
  class="menu__item{% if page.url contains 'blogroll/' %} is-active{% endif %}"
>
  <a href="/blogroll/" class="menu__link" aria-current="page">
    <span>Blogroll</span>
  </a>
</li>
<li class="menu__item">
  <a
    class="menu__link"
    href="http://www.instagram.com/greenandlonely"
    rel="external"
  >
    <span>Instagram</span>
  </a>
</li>
<li class="menu__item">
  <a
    class="menu__link"
    href="http://feeds.feedburner.com/greenandlonely"
    rel="external"
  >
    <span>RSS feed</span>
  </a>
</li>

{% assign navigation = nil %} {% assign group = nil %}
