/*
	Greenandlonely v3
*/

//settings
$use-markup-fix: false;
$use-silent-classes: true;

//breakpoints
$lap-start: 768px;
$desk-start: 1025px;

$breakpoints: (
  "palm" "(max-width: 767px)",
  "lap" "(min-width: 768px) and (max-width: 1024px)",
  "portable" "(max-width: 1024px)",
  "desk" "(min-width: 1025px)"
);

//fonts & font-sizes
$base-font: "PT Mono", monospace;
$h1-size: 24px;
$h2-size: 20px;
$h3-size: 18px;
$h4-size: 15px;
$h5-size: 12px;
$h6-size: 9px;

//colours
$body-bg: #fff;
$body-bg--inverted: #000;
$body-text: #000;
$menu-text: #000;
$body-text--inverted: #fff;
$menu-text--inverted: #fff;
$menu-text--palm: #fff;
$pink: #ff38a5;
$grey: #eee;
$grey--inverted: #333;
$blue: #43bfff;

//metrics
$site-max-width: 1550px;
$spacer: 1.5rem;
$spacer--double: $spacer * 2;
$spacer--minor: 1rem;
$gutter: 1rem;
$top-gutter: 3rem;
$wall-gutter: 2px;
$page-gutter: 1.25rem;
$page-gutter--lap: 0.5rem;
$wall-gutter: 0.5rem;
$site-head-width: 324px;
$site-head-gutter: 40px;
$paging-height: 40px;
$menu__item-divider-size: 4px;
$menu__item-width: 80px;
$paging-size: 50px;
$transition-speed: 250ms;
$cv__secondary-width: 260px;
$post-margin: 100px;
