/*
	Greenandlonely v3
*/

//settings
$use-markup-fix: false;
$use-silent-classes: true;

//breakpoints
$breakpoints: (
    'palm' '(max-width: 680px)',
    'lap' '(min-width: 681px) and (max-width: 1024px)',
    'portable' '(max-width: 1024px)',
    'desk' '(min-width: 1025px)'
);
$lap-start: 681px;
$desk-start: 1025px;

//fonts
$base-font: 'PT Sans', Helvetica, Arial, sans-serif;

//colours
$body-bg: #fff;
$body-text: #111;
$menu-text: #111;
$menu-text--highlighted: #a00;

//metrics
$spacer: 24px;
$gutter: $spacer;
$header-height: 46px;
$menu__item-divider-size: 4px;

//multiples
$divider: 1px solid #fff;
