@font-face {
  font-family: "Archivo Narrow";
  src: url("/fonts/archivo_narrow--bold.eot");
  src: url("/fonts/archivo_narrow--bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/archivo_narrow--bold.woff2") format("woff2"),
    url("/fonts/archivo_narrow--bold.woff") format("woff"),
    url("/fonts/archivo_narrow--bold.ttf") format("truetype"),
    url("/fonts/archivo_narrow--bold.svg#archivo_narrowbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("/fonts/archivo_narrow--bold-italic.eot");
  src: url("/fonts/archivo_narrow--bold-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/archivo_narrow--bold-italic.woff2") format("woff2"),
    url("/fonts/archivo_narrow--bold-italic.woff") format("woff"),
    url("/fonts/archivo_narrow--bold-italic.ttf") format("truetype"),
    url("/fonts/archivo_narrow--bold-italic.svg#archivo_narrowbold_italic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("/fonts/archivo_narrow--italic.eot");
  src: url("/fonts/archivo_narrow--italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/archivo_narrow--italic.woff2") format("woff2"),
    url("/fonts/archivo_narrow--italic.woff") format("woff"),
    url("/fonts/archivo_narrow--italic.ttf") format("truetype"),
    url("/fonts/archivo_narrow--italic.svg#archivo_narrowitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("/fonts/archivo_narrow.eot");
  src: url("/fonts/archivo_narrow.eot?#iefix") format("embedded-opentype"),
    url("/fonts/archivo_narrow.woff2") format("woff2"),
    url("/fonts/archivo_narrow.woff") format("woff"),
    url("/fonts/archivo_narrow.ttf") format("truetype"),
    url("/fonts/archivo_narrow].svg#archivo_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
