// Vars
$brand-colour: #652d90;
$text-colour: #fff;
$logo-margin: 3.5rem;
$bg-image-height: 451px;
$page-max-width: 2000px;
$mq-breakpoints: (
    wide: 1500px
);

// Imports
@import 'normalize';
@import 'mq';


// Font
@font-face {
	font-family: 'Bariol Regular';
	src: url("assets/Bariol_Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}


// Base styles
* {
	box-sizing: border-box;
}

body {
	font-family: 'Bariol Regular';
	background-color: #eee;
	font-size: 62.5%;
}

p {
	margin: 0 0 1.5rem;
}


// Layout
.page {
	margin: 0 auto;
	position: relative;
	min-width: 1025px;
	max-width: $page-max-width;
	position: relative;
	color: $text-colour;
	min-height: 800px;
	
	&__logo {
		position: absolute;
		top: $logo-margin;
		left: $logo-margin;
	}
	
	&__background {
		max-width: 100%;
		height: auto;
		display: block;
	}
	
	&__inner {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: $bg-image-height;
		background-image: url(assets/page__inner-bg.png);
		background-repeat: no-repeat;
		
		@include mq($from: wide) {
			background-image: url(assets/page__inner-bg--wide.png);
			background-size: 2000px $bg-image-height;
		}
	}
	
	&__content {
		font-size: 1.3rem;
		width: 100%;
		padding: 2rem 2rem 0 $logo-margin;
		background-color: $brand-colour;
	}
	
	&__text {
		max-width: 550px;
		padding-bottom: 1rem;
	}
	
	&__heading {
		font-size: 2.5rem;
		margin: 0 0 1rem;
	}
	
	&__img {
		position: absolute;
		bottom: 0;
		right: 3rem;
	}
}
