---
layout: default
title: Blog
flag: blog
---

<h2 class="is-visuallyhidden">Blog - page {{ paginator.page }}</h2>

<!-- <a class="post__link" href="{{ post.url | prepend: site.baseurl }}"> -->

<div class="blog">
	<ol class="blog__posts" aria-label="Blog posts, in chronological order">
		{% for post in paginator.posts %}
		<li>
			<article class="post">
				<header class="post__header">
					<div>
                        <h3 class="post__title post__heading">{{ post.title }}</h3>
					    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post__date">{{ post.date | date: "%d.%m.%Y" }}</time>
                    </div>
                    {% if post.tags != empty %}
                    <dl class="post__tags">
                        <dt class="is-visuallyhidden">Tags:</dt>
                        {% for tag in post.tags %}
                        <dd class="tag">{{ tag }}</dd>
                        {% endfor %}
                        {% comment %}<a href="/blog/tag/{{ tag }}" class="tag"></a>{% endcomment %}
                    </dl>
                    {% endif %}
				</header>

				{{ post.content }}
			</article>
		</li>
		{% endfor %}
	</ol>
	
	{% if paginator.total_pages > 1 %}
	<nav aria-label="blog pagination" class="paging">
		<ul class="paging__list">
		{% if paginator.previous_page %}
			<li class="paging__item paging__prev">
				<a class="paging__link" id="prev" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous page</a>
			</li>
		{% endif %}
		{% if paginator.next_page %}
			<li class="paging__item paging__next">
				<a class="paging__link" id="next" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
			</li>
		{% endif %}
		</ul>
	</nav>
	{% endif %}
</div>
