
.blog {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	
	@include media-query(lap-and-up) {
		padding-top: $header-height + 5;
		padding-bottom: 60px;
	}
	
	&__posts {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
}
