.blogroll {
  @include bare-list;
  display: flex;
  flex-direction: column;
  gap: $spacer--minor;
  padding: 0 $page-gutter 20px;

  @include media-query(lap-and-up) {
    padding: 0 0 20px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 0.2rem;

    &:hover {
      .blogroll__name {
        text-decoration: underline;
      }
    }
  }

  &__name {
    font-size: 1rem;

    @include media-query(lap-and-up) {
      font-size: 1.1rem;
    }
  }

  &__address {
    font-size: 0.825rem;
    display: none;

    @include media-query(desk) {
      display: block;
      font-size: 1rem;
    }
  }

  &__dots {
    font-size: 1.2rem;
    display: none;
    // overflow: hidden;

    @include media-query(desk) {
      display: block;
    }
  }
}
