
.blog {
	padding-bottom: $paging-height;
	max-width: 1024px;
	margin: 0 auto;
	
	@include media-query(lap-and-up) {
		padding: $header-height 0 0;
	}
	
	&__posts {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
}
