
.blogroll {
	@include bare-list;
	padding-top: 35px;
	padding-bottom: 20px;
	//margin-left: -$gutter;
	
	> li {
		padding: 0 0 $gutter $gutter;
		display: block;
	}
	
	&__link {
		text-decoration: none;
		
		> * {
			display: block;
			
			@include media-query(lap-and-up) {
				display: inline-block;
				width: 50%;
			}
		}
		
		&:hover,
		&:focus {
			.blogroll__name {
				color: $body-text;
			}
			
			.blogroll__address {
				text-decoration: underline;
			}
		}
	}
	
	&__name {
		@include media-query(lap-and-up) {
			text-align: right;
		}
		
		&::after {
			content: ".......";
			margin: 0 10px;
		}
	}
	
	&__address {
		font-size: 13px;
	}
	
	a {
		/*
		background-color: $blogroll-bg;
		display: block;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		@include transition(all $transition-speed ease-out);
		
		&:hover,
		&:focus {
			background-color: $blogroll-bg--hover;
			color: $blogroll-text--hover;
		}
		*/
	}
}
