
.cv {
	font-family: $cv-font;
	line-height: 1.5;
	color: $cv-text-colour;
	border: 20px solid #fff;
	background-color: #f0f0f0;
		
	&__inner {
		max-width: 1050px;
		padding: 30px;
		margin: 0 auto;
	}
	
	&__header {
		text-align: center;
	}
	
	&__heading {
		font-weight: 700;
		line-height: 1;
		margin: 0 auto;
		//letter-spacing: -1px;
		font-size: 24px;
		text-transform: uppercase;
		padding: 20px 0 0;
		
		@include media-query(lap-and-up) {
			font-size: 30px;
		}
	}
	
	&__sub-heading {
		display: block;
		padding-top: 5px;
		text-transform: none;
		font-size: 16px;
		font-weight: 300;
		
		@include media-query(lap-and-up) {
			font-size: 18px;
		}
	}
	
	&__content {
		padding-top: 50px;
		
		@include media-query(lap-and-up) {
			@include flexbox;
			@include flex-direction(row);
			padding-top: 65px;
		}
	}
	
	&__primary {
		width: 100%;
		
		@include media-query(lap-and-up) {
			width: calc(100% - #{$cv__secondary-width});
			padding-right: 45px;
		}
		
		@include media-query(desk) {
			padding-right: 75px;
		}
	}
	
	&__secondary {
		width: 100%;
		margin-top: 40px;
		
		@include media-query(lap-and-up) {
			width: $cv__secondary-width;
			margin-top: 0;
		}
	}
	
	&__section-heading {
		font-size: 20px;
		margin-bottom: 15px;
		text-transform: uppercase;
		line-height: 1;
	}
	
	&__experience {
		@include bare-list;
	}
	
	&__skills {
		@include bare-list;
		
	}
	
	&__list {
		@include bare-list;
		
		> li {
			border-bottom: $cv-divider;
			padding: 7px 3px 6px;
		}
	}
	
	&__skill {
		margin-bottom: 6px;
		
		> span {
			position: relative;
			 
			&::after {
				position: absolute;
				width: 108%;
				display: block;
				content: '';
				bottom: -2px;
				left: -5%;
				background-color: #fff;
				height: 13px;
				z-index: -1;
				animation: highlight 0.75s ease-in;
			}
		}
		
		&:nth-of-type(5n+1) {
			> span::after {
				transform: rotate(-1deg);
				bottom: 0;
				height: 15px;
				animation-duration: 1s
			}
		}
		
		&:nth-of-type(5n+2) {
			> span::after {
				transform: rotate(1deg);
				height: 14px;
				bottom: -4px;
			}
		}
		
		&:nth-of-type(5n+3) {
			> span::after {
				height: 16px;
				bottom: -1px;
				animation-duration: 1.5s
			}
		}
		
		&:nth-of-type(5n+4) {
			> span::after {
				transform: rotate(-1deg);
				height: 15px;
			}
		}
		
		&:last-of-type {
			border: none;
		}
	}
	
	&__refs,
	&__education {
		margin-top: 50px;
	}
}

