
.cv {
	font-family: $cv-font;
	line-height: 1.5;
	
	@include media-query(lap-and-up) {
		
	}
	
	&__inner {
		max-width: 1024px;
		margin: 0 auto;
		padding: 25px 15px;
		
		@include media-query(lap-and-up) {
			padding: 40px 25px;
		}
	}
	
	&__header {
		text-align: center;
	}
	
	&__heading {
		font-family: $cv-heading-font;
		border-bottom: $cv-divider;
		line-height: 1;
		text-align: center;
		//display: inline-block;
		margin: 0 auto;
		//letter-spacing: -1px;
		font-size: 21px;
		text-transform: uppercase;
		padding: 0 10px 40px;
		
		@include media-query(lap-and-up) {
			font-size: 30px;
		}
	}
	
	&__sub-heading {
		display: block;
		padding-top: 5px;
		font-family: $cv-font;
		color: $cv-highlight;
		text-transform: none;
		font-size: 15px;
		
		@include media-query(lap-and-up) {
			font-size: 18px;
		}
	}
	
	&__content {
		padding-top: 50px;
		
		@include media-query(lap-and-up) {
			@include flexbox;
			@include flex-direction(row);
		}
	}
	
	&__primary {
		width: 100%;
		
		@include media-query(lap-and-up) {
			width: calc(100% - #{$cv__secondary-width});
			padding-right: 30px;
		}
		@include media-query(desk) {
			padding-right: 50px;
		}
	}
	
	&__secondary {
		width: 100%;
		margin-top: 40px;
		
		@include media-query(lap-and-up) {
			width: $cv__secondary-width;
			margin-top: 0;
		}
	}
	
	&__section-heading {
		font-size: 21px;
		margin-bottom: 15px;
		font-family: $cv-heading-font;
		text-transform: uppercase;
		line-height: 1;
	}
	
	&__experience {
		@include bare-list;
	}
	
	&__list {
		@include bare-list;
		
		> li {
			border-bottom: $cv-divider;
			padding: 7px 3px;
			
			&:last-of-type {
				border: none;
			}
		}
	}
	
	&__refs,
	&__education {
		margin-top: 30px;
	}
}

