.site-head {
  width: 100%;
  margin: 0;
  padding: 1.25rem $page-gutter 3.5rem;
  z-index: 10;

  @include media-query(desk) {
    position: fixed;
    top: 0;
    left: 0;
    width: $site-head-width;
    height: 100vh;
    background-color: $body-bg;
    padding: $top-gutter $site-head-gutter 1.25rem 0.5rem;
  }

  @media screen and (prefers-color-scheme: dark) {
    background-color: $body-bg--inverted;
  }
}

.site-main {
  max-width: $site-max-width;

  @include media-query(desk) {
    padding-top: $top-gutter;
    padding-left: $site-head-width;
  }
}

.blog-posts {
  @include bare-list;

  > * + * {
    margin-top: $post-margin;
  }
}
