
.header {
	width: 100%;
	background-color: $header-bg--palm;
	margin: 0;
	padding: 15px 0 0;
	z-index: 10;
	
	@include media-query(lap-and-up) {
		position: fixed;
		top: 0;
		left: 0;
		height: $header-height;
		background-color: $header-bg;
		padding: 0;
	}
}

.page {
	padding-top: $header-height;
	
	@include media-query(desk) {
		padding: $header-height $spacer 0;
	}
	
	&__heading {
		text-align: center;
		margin: 0 0 15px;
		font-size: $h2-size;
		z-index: 20;
		
		@include media-query(desk) {
			position: fixed;
			top: 0;
			left: 50%;
			width: 40%;
			margin: 0;
			margin-left: -20%;
			line-height: $header-height;
			vertical-align: middle;
		}
	}
}

.footer {
	/*
	padding-bottom: $paging-height;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	*/
	
	&__feed {
		z-index: 1000;
		position: absolute;
		left: 50%;
		bottom: 0;
	}
}
