.site-head {
  width: 100%;
  margin: 0;
  padding: 1.25rem $page-gutter 3.5rem;
  z-index: 10;

  @include media-query(desk) {
    position: fixed;
    top: 0;
    left: 0;
    width: $site-head-width;
    height: 100vh;
    background-color: $body-bg;
    padding: 46px $site-head-gutter 20px 10px;
  }

  @media screen and (prefers-color-scheme: dark) {
    background-color: $body-bg--inverted;
  }
}

.site-main {
  max-width: $site-max-width;

  @include media-query(desk) {
    padding-top: $spacer--double;
    padding-left: $site-head-width;
  }
}

.blog {
  position: relative;

  &__posts {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    > li:last-of-type .post {
      margin-bottom: 0;
    }
  }
}

.pnf {
  max-width: 1024px;

  @include media-query(lap-and-up) {
    margin: 0 auto;
  }

  &__content {
    padding: 2rem 1rem;
  }

  &__heading {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    margin-top: 2rem;
  }
}
