.wall {
  padding: 0 0 $wall-gutter;

  & + & {
    margin-top: 4rem;
  }

  &__heading {
    font-size: 1.2rem;
    margin: 0 0 0.5rem;
    padding-left: $wall-gutter;
  }

  &__row {
    @extend %grid;
    margin-left: -$wall-gutter !important;
    font-size: 0;
    margin-bottom: $wall-gutter;

    &:last-of-type {
      margin-bottom: -$wall-gutter;
    }

    .wall__brick {
      @extend %grid__item;
      padding-left: $wall-gutter !important;
      display: inline-block;

      @include media-query(lap-and-up) {
        width: 50%;
        margin-top: 0 !important;
      }
    }

    &--portrait {
      .wall__brick {
        @include media-query(lap-and-up) {
          width: 33.333%;
        }
      }
    }
  }

  &__brick {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-top: $wall-gutter;
    height: auto;
    text-align: center;

    &:first-child {
      margin: 0;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    a {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}
