
.blogroll {
	@include bare-list;
	margin-top: $gutter;
	margin-left: -$gutter;
	@include flexbox();
	flex-flow: row wrap;
	justify-content: center;
	
	> li {
		@include flex(1 225px);
		padding: 0 0 $gutter $gutter;
	}
	
	a {
		background-color: #eee;
		display: block;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		
		&:hover,
		&:focus {
			background-color: #111;
			color: #fff;
		}
	}
}
