
.header {
	@include media-query(lap-and-up) {
		position: fixed;
		top: 0;
		left: 0;
		height: $header-height;
	}
	
	width: 100%;
	background-color: $body-bg;
	margin: 0;
	padding: 0 $spacer;
}

.page {
	@include media-query(lap-and-up) {
		padding: $header-height $spacer 0;
	}
	
	padding: 0;
	
	&__heading {
		text-align: center;
		
		@include media-query(desk) {
			position: fixed;
			top: 0;
			left: 50%;
			width: 40%;
			margin-left: -20%;
			line-height: $header-height;
			vertical-align: middle;
		}
		
		> * {
			margin: 0;
		}
	}
}

.blog {
	padding: $header-height ($paging-size + 10) 0;
	
	&__list {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
}