
.examples {
	vertical-align: top;
	
	&__heading {
		display: inline-block;
		font-family: $cv-heading-font;
		vertical-align: top;
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 14px;
		
		@include media-query(lap-and-up) {
			margin-bottom: 0;
		}
	}
	
	&__list {
		display: inline-block;
		vertical-align: top;
		@include bare-list;
		font-size: 13px;
		color: #aaa;
		
		> li {
			display: inline-block;
			padding-right: 10px;
			
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}
