
.fuji {
	width: $fuji-width;
	height: $fuji-height;
	
	@include media-query(lap-and-up) {
		width: $fuji-width/1.5;
		height: $fuji-height/1.5;
	}
	
	&__primary {
		fill: $fuji__secondary-colour;
		
		@include media-query(lap-and-up) {
			fill: $fuji__primary-colour;
		}
	}
	
	&__secondary {
		fill: $fuji__primary-colour;
		
		@include media-query(lap-and-up) {
			fill: $fuji__secondary-colour;
		}
	}
}
