
.icon {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&--next:before {
		@extend .icon;
		content: "\3e";
	}
	&--back:before {
		@extend .icon;
		content: "\3c";
	}
	&--feed:before {
		@extend .icon;
		content: "\66";
	}
}
