
.logo {
	margin: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
	
	@include media-query(lap-and-up) {
		line-height: $header-height;
		padding-left: $spacer;
		text-align: left;
	}
	
	@include media-query(lap) {
		width: 50%;
	}
	
	@include media-query(desk) {
		width: 30%;
	}
	
	&__icon {
		@include media-query(lap-and-up) {
			display: inline-block;
			padding: 7px 5px 0 0;
		}
	}
	
	&__text {
		vertical-align: top;
		display: none;
		text-align: left;
		position: relative;
		@include transition(all $transition-speed ease-out);
		
		@include media-query(lap-and-up) {
			display: inline-block;
		}
		
		@include media-query(lap) {
			font-size: 15px;
		}
		
		@include media-query(desk) {
			font-size: 18px;
		}
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 10px;
			height: 2px;
			width: 100%;
			background-color: transparent;
			@include transition(all $transition-speed ease-out);
		}
	}
	
	> a {
		text-decoration: none;
		color: $logo-colour--palm;
		
		@include media-query(lap-and-up) {
			color: $logo-colour;
		}
		
		&:hover,
		&:focus {
			.logo__text:after {
				background-color: $menu-text;
			}
		}
	}
}
