.menu {
  width: 100%;
  @include bare-list;

  * + * {
    margin-top: 0.9rem;
  }

  &__item {
    font-size: 1.1rem;
    color: $menu-text;

    @include media-query(desk) {
      text-align: right;
    }

    &.is-active {
      > .menu__link {
        color: $body-text--inverted;

        > span {
          background-color: $menu-text;
        }

        @media screen and (prefers-color-scheme: dark) {
          color: $menu-text;

          > span {
            background-color: $body-bg;
          }
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--major {
      font-size: 1.25rem;
    }
  }

  &__sub-menu {
    @include bare-list;
    margin-top: 0.75rem;

    .menu__item {
      font-size: 1rem;
    }
    .menu__link::after {
      content: "-";
    }
  }

  &__link {
    text-decoration: none;
    color: $menu-text;
    display: block;

    @media screen and (prefers-color-scheme: dark) {
      color: $menu-text--inverted;
    }

    > span {
      display: inline-block;
      padding: 2px;
    }
  }
}
