
.menu {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	
	@include media-query(lap-and-up) {
		height: $header-height;
		width: 60%;
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		padding: 0 $spacer 0 0;
	}
	
	@include media-query(lap) {
		width: 50%;
	}
	
	@include media-query(desk) {
		width: 30%;
	}
	
	&__item {
		font-weight: bold;
		display: inline-block;
		font-size: 16px;
		padding: 0 5px;
		line-height: $header-height;
		
		@include media-query(lap-and-up) {
			vertical-align: middle;
			position: relative;
			padding: 0 15px 0 0;
		}
		
		> a {
			text-decoration: none;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			color: $menu-text--palm;
			
			@include media-query(lap-and-up) {
				color: $menu-text;
			}
			
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				border-bottom: 2px solid transparent;
				@include transition(all $transition-speed ease-out);
			}
			
			&:hover,
			&:focus,
			&.is-active {
				&:after {
					border-color: $menu-text;
				}
			}
			
			
			&:after {
				bottom: 10px;
			}
		}
		
		> a[href^="/f/"] {
			color: $menu-text--palm;
			
			@include media-query(lap-and-up) {
				color: $menu-text--highlighted;
			}
			
			&:hover,
			&:focus,
			&.is-active {
				&:after {
					border-color: $menu-text--palm;
					
					@include media-query(lap-and-up) {
						border-color: $menu-text--highlighted;
					}
				}
			}
		}	
		
		&:after {
			content: "";
			width: $menu__item-divider-size;
			height: $menu__item-divider-size;
			position: absolute;
			top: 50%;
			margin-top: -($menu__item-divider-size/2);
			right: $menu__item-divider-size;
			border-radius: 100%;
			background-color: $menu-text--palm;
			display: none;
			
			@include media-query (lap-and-up) {
				display: block;
				background-color: $menu-text--highlighted;
			}
		}
		
		&:last-child {
			@include media-query(lap-and-up) {
				padding: 0;
				margin: 0;
			}
			
			&:after {
				display: none;
			}
		}
	}
	
	&__item--active {
		@extend .menu__item;
	}
}
