
.paging {
	width: 100%;
	
	@include media-query(lap-and-up) {
		position: static;
	}
	
	&__inner {
	}
	
	&__next,
	&__prev {
	}
	
	&__next {
		right: $gutter;
	}
	
	&__prev {
		left: $gutter;
	}
	
	&__arrow {
		width: $paging-size;
		
		> * {
			fill: $paging__arrow-colour;
		}
	}
}

.paging--post {
	position: static;
}
