
.paging {
	margin: 40px 0 30px;
	text-align: center;
	width: 100%;
	//margin-bottom: 30px;
	
	&__next,
	&__prev {
		position: absolute;
		bottom: 0;
		font-size: 36px;
		height: 36px;
		text-decoration: none;
	}
	
	&__next {
		right: $gutter;
		
		@include media-query(desk) {
			right: 0;
		}
	}
	
	&__prev {
		left: $gutter;
		
		@include media-query(desk) {
			left: 0;
		}
	}
}
