.paging {
  text-align: right;
  padding: 1rem $page-gutter 0;
  display: block;
  margin: 3rem 0;
  font-size: 1rem;

  //   @include media-query(lap-and-up) {
  //     width: $site-head-width;
  //     position: fixed;
  //     bottom: 0;
  //     left: 0;
  //     z-index: 100;
  //     margin: 0;
  //   }

  &__list {
    @include bare-list;
    display: flex;
    gap: 8px;
  }

  &__next {
  }

  &__prev {
    &::after {
      content: "/ ";
    }
  }

  &__item {
    &:only-child {
      &::after {
        content: "";
      }
    }
  }

  &__link {
    padding: 0.5rem 0;
  }

  //   &--post {
  //     position: static;
  //     bottom: auto;
  //     left: auto;
  //     width: auto;
  //     padding: 25px $spacer--minor 25px 0;

  //     .paging__item {
  //       position: static;
  //       bottom: auto;
  //       right: auto;
  //       display: inline-block;
  //     }

  //     .paging__prev {
  //       &::after {
  //         content: "/";
  //       }
  //     }

  //     .paging__next {
  //       &::after {
  //         content: "";
  //       }
  //       &::before {
  //         //content: "";
  //       }
  //     }
  //   }
}
