.post {
  font-size: 1rem;

  &__header {
    padding-left: $page-gutter;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.33rem;

    @include media-query(lap-and-up) {
      align-items: center;
      flex-direction: row;
    }
    @include media-query(desk) {
      padding-left: $page-gutter--desk;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 1.2rem;
    display: inline-block;
  }

  &__date {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    vertical-align: baseline;

    &::before {
      content: " ...... ";
    }
  }

  &__tags {
    margin: 0;
    display: flex;
    gap: 0.5rem;
    padding-right: 0.5rem;
  }

  &__link {
    text-decoration: none;
  }

  &__columns {
    @extend %grid;
    margin-left: -2px !important;
    font-size: 0;
    text-align: right;

    .post__img {
      @extend %grid__item;
      padding-left: 2px !important;
      width: 100%;
      display: inline-block;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      @include media-query(lap-and-up) {
        width: 50%;
      }
    }
  }

  &__column {
    @extend %grid__item;
    padding-left: 2px !important;
    width: 100%;

    @include media-query(lap-and-up) {
      width: 50%;
    }

    .post__img {
      width: 100%;
      padding-left: 0 !important;
    }
  }

  &__img {
    margin: 0; // 0 0 auto;
    margin-top: 2px;
    display: block;

    &--top-gap {
      @include media-query(desk) {
        margin-top: 2px;
      }
    }

    img {
      display: block;
    }
  }

  &__caption {
    display: block;
    margin-top: 1em;
    margin-bottom: 25px;
    padding: 0 0.5rem;
  }

  &__img--portrait {
    @extend .post__img;
    max-width: 768px;
    // text-align: right !important;

    img {
      margin: 0 0 0 auto;

      @include media-query(lap-and-up) {
        // height: 100vh;
        // max-height: 960px;
        // width: auto !important;
      }
    }
  }

  &__img--column {
    @extend .post__img;
    // max-width: 768px;

    img {
      margin: 0 auto;
    }
  }

  &__list {
    margin: 0 0 $gutter auto;
    text-align: left;
    padding: 15px 25px;
    width: 90%;

    @include media-query(desk) {
      width: 40%;
    }

    @include media-query(lap) {
      width: 60%;
    }
  }

  &__quote {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    margin: 0 auto $gutter;
    width: 80%;

    @include media-query(desk) {
      width: 50%;
    }

    @include media-query(lap) {
      width: 60%;
    }
  }

  ul.post__list {
    list-style-type: square;
  }

  p {
    padding: 0 $page-gutter;
    max-width: 800px;
    line-height: 1.35;

    @include media-query(desk) {
      padding: 0 $page-gutter--desk;
    }
  }
}
