
.position {
	@include bare-list;
	margin-bottom: 30px;
	
	@include media-query(lap-and-up) {
		margin-bottom: 45px;
	}
	
	&__company {
		margin-bottom: 5px;
		font-size: 17px;
	}
	
	&__meta {
		font-size: 13px;
		text-transform: uppercase;
		margin: 0 0 17px;
		line-height: 1;
		
		> dd {
			display: block;
			padding: 6px 0;
			margin: 0;
			
			@include media-query(desk) {
				display: inline-block;
				border-bottom: none;
				padding: 0;
				margin: 0 15px 0 0;
			}
			
			&:last-of-type {
				//border: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
	
	&__title {
		padding: 3px;
		position: relative;
		
		&::after {
			position: absolute;
			display: none;
			line-height: 1;
			content: '';
			bottom: -3px;
			left: -5%;
			background-color: #fff;
			height: 13px;
			z-index: -1;
			animation: highlight 0.5s ease-in;
			
			@include media-query(desk) {
				width: 108%;
				display: block;
			}
		}
	}
	
	&__url {
		text-transform: none;
	}
}
