.icon {
	font-family: 'greenandonely';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fuji .path1:before {
	content: "\20";
	color: rgb(29, 29, 27);
}
.icon-fuji .path2:before {
	content: "\21";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path3:before {
	content: "\22";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path4:before {
	content: "\23";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path5:before {
	content: "\24";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path6:before {
	content: "\25";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path7:before {
	content: "\26";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path8:before {
	content: "\27";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path9:before {
	content: "\28";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path10:before {
	content: "\29";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path11:before {
	content: "\2a";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path12:before {
	content: "\2b";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path13:before {
	content: "\2c";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path14:before {
	content: "\2d";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path15:before {
	content: "\2e";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path16:before {
	content: "\2f";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path17:before {
	content: "\30";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path18:before {
	content: "\31";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path19:before {
	content: "\32";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path20:before {
	content: "\33";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}
.icon-fuji .path21:before {
	content: "\34";
	margin-left: -1.3955078125em;
	color: rgb(29, 29, 27);
}
.icon-fuji .path22:before {
	content: "\35";
	margin-left: -1.3955078125em;
	color: rgb(255, 255, 255);
}

.icon-right:before {
	content: "\3e";
}

.icon-left:before {
	content: "\3c";
}

