
.logo {
	margin: 0;
	font-size: 22px;
	width: 30%;
	line-height: $header-height;
	
	&__icon {
		display: inline-block;
		padding: 8px 5px 0 0;
		
		> * {
			width: 55px;
		}
	}
	
	&__text {
		display: inline-block;
		vertical-align: top;
	}
	
	> a {
		text-decoration: none;
		
		&:hover,
		&:focus {
			.logo__text {
				color: $menu-text--highlighted;
			}
			
			.fuji__top-bottom {
				fill: #999;
			}
		}
	}
}
