
.logo {
	margin: 0;
	line-height: $header-height;
	display: inline-block;
	width: 40%;
	
	@include media-query(lap-and-up) {
		padding-left: $spacer;
	}
	
	@include media-query(lap) {
		width: 50%;
	}
	
	@include media-query(desk) {
		width: 30%;
	}
	
	&__icon {
		display: inline-block;
		padding: 7px 5px 0 0;
		
		> * {
			width: 55px;
		}
	}
	
	&__text {
		vertical-align: top;
		font-size: 18px;
		display: none;
		text-align: left;
		
		@include media-query(lap-and-up) {
			display: inline-block;
		}
		
		@include media-query(desk) {
			font-size: 21px;
		}
	}
	
	> a {
		text-decoration: none;
		color: $logo-colour--palm;
		
		@include media-query(lap-and-up) {
			color: $logo-colour;
		}
			
		&:hover,
		&:focus {
			.logo__text {
				color: $menu-text--highlighted;
			}
			
			.fuji__top-bottom {
				fill: #999;
			}
		}
	}
}
