
.menu {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0 $spacer 0 0;
	width: 30%;
	height: $header-height;
	text-transform: uppercase;
	text-align: right;
	
	&__item {
		display: inline-block;
		vertical-align: middle;
		line-height: $header-height;
		position: relative;
		padding-right: 15px;
		font-weight: bold;
		
		> a {
			color: $menu-text;
			text-decoration: none;
		}
		
		&:after {
			content: "";
			width: $menu__item-divider-size;
			height: $menu__item-divider-size;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: $menu__item-divider-size;
			border-radius: 100%;
			background-color: $menu-text--highlighted;
		}
		
		&:last-child {
			padding: 0;
			margin: 0;
			
			&:after {
				display: none;
			}
		}
	}
	
	&__item--highlighted {
		@extend .menu__item;
		
		> a {
			color: $menu-text--highlighted;
		}
	}	
}
