
.paging {
	width: 100%;
	
	&__inner {
		position: relative;
	}
	
	&__next,
	&__prev {
		position: fixed;
		bottom: 0;
		width: $paging-size;
		height: $paging-size;
		display: block;
	}
	
	&__next {
		right: 0;
	}
	
	&__prev {
		left: 0;
	}
	
	&__arrow {
		width: 50px;
		height: 50px;
		
		> * {
			fill: $paging__arrow-colour;
		}
	}
}
