
.paging {
	width: 100%;
	background-color: $body-bg;
	height: $header-height;
	
	&__inner {
		position: relative;
	}
	
	&__next,
	&__prev {
		position: fixed;
		bottom: 0;
		width: $paging-size;
		display: block;
	}
	
	&__next {
		right: $gutter;
	}
	
	&__prev {
		left: $gutter;
	}
	
	&__arrow {
		width: $paging-size;
		
		> * {
			fill: $paging__arrow-colour;
		}
	}
}
