
.paging {
	&__next,
	&__prev {
		position: fixed;
		bottom: $spacer;
		width: $paging-size;
		height: $paging-size;
		background-color: red;
	}
	
	&__next {
		right: 0;
	}
	
	&__prev {
		left: 0;
	}
}
