---
layout: default
---
<article class="post">
	<header class="post__header">
		<h1 class="post__title">{{ page.title }}</h1>
		<time class="post__date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%y" }}</time>
	</header>
	<div class="post__content">
		
		{{ content }}
		
		<footer class="paging--post">
			<div class="paging__inner">
				{% if page.previous %}
				<a rel="prev" title="Go to the previous post. You can also press the left arrow on your keyboard." class="paging__prev" href="{{ page.previous.url }}">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 35" enable-background="new 0 0 70 35" xml:space="preserve" class="paging__arrow">
						<path d="M0,6v23c0,3.313,2.687,6,6,6h58c3.313,0,6-2.687,6-6V6c0-3.313-2.687-6-6-6H6C2.687,0,0,2.687,0,6z M26.8,17.499
							l16.4-6.359v12.719L26.8,17.499z"/>
					</svg>
				</a>
				{% endif %}
				
				{% if page.next %}
				<a rel="prev" title="Go to the next post. You can also press the right arrow on your keyboard." class="paging__next" href="{{ page.next.url }}">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 35" enable-background="new 0 0 70 35" xml:space="preserve" class="paging__arrow">
						<path d="M64,0H6C2.687,0,0,2.687,0,6v23c0,3.313,2.687,6,6,6h58c3.313,0,6-2.687,6-6V6C70,2.687,67.313,0,64,0z M26.8,23.859
						V11.14l16.4,6.359L26.8,23.859z"/>
					</svg>
				</a>
				{% endif %}
			</div>
		</footer>
	</div>
</article>
