---
layout: default
---

<div class="blog">
	<article class="post">
		<header class="post__header">
			<h1 class="page__heading post__title">{{ page.title }}</h1>
		</header>
		
		{{ content }}
		
		<footer class="paging">
			<nav>
				{% if page.previous %}
				<a id="next" rel="next" title="Go to the next post. You can also press the right arrow on your keyboard." class="paging__next" href="{{ page.previous.url }}">
					<i class="icon--next"></i>
				</a>
				{% endif %}
				
				{% if page.next %}
				<a id="prev" rel="prev" title="Go to the previous post. You can also press the left arrow on your keyboard." class="paging__prev" href="{{ page.next.url }}">
					<i class="icon--back"></i>
				</a>
				{% endif %}
			</nav>
			
			<a title="subscribe via RSS" href="http://feeds.feedburner.com/greenandlonely" class="feed"><i class="icon icon--feed"></i></a>
		</footer>
	</article>
</div>